################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/comport_wpf.metadata.v7.bin
/.vs/ProjectEvaluation/comport_wpf.projects.v7.bin
/comPort_wpf/bin
#/comPort_wpf/bin/Debug/net7.0-windows/comPort_wpf.pdb
/.vs/comPort_wpf/v17/.futdcache.v2
/.vs/comPort_wpf/v17/.suo
/.vs/comPort_wpf/FileContentIndex/840fad00-236f-4625-bffe-32fe20b3e8c9.vsidx
/.vs/comPort_wpf/FileContentIndex/6874e624-bbfb-4e31-8429-6a6ed913cfc2.vsidx
/comPort_wpf/obj
#/comPort_wpf/obj/Debug/net7.0-windows/ref/comPort_wpf.dll
#/comPort_wpf/obj/Debug/net7.0-windows/refint/comPort_wpf.dll
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf.dll
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf.pdb
*.cs
/comPort_wpf/obj
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_4y5dzqrq_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_4y5dzqrq_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_4y5dzqrq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_afhkjist_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_afhkjist_wpftmp.assets.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_afhkjist_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_afhkjist_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_al0fg5um_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_al0fg5um_wpftmp.assets.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_al0fg5um_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_al0fg5um_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_glgem1ln_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_glgem1ln_wpftmp.assets.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_glgem1ln_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_glgem1ln_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_y2vy5ghm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_y2vy5ghm_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_y2vy5ghm_wpftmp.assets.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_y2vy5ghm_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_ugoo2scx_wpftmp.csproj.BuildWithSkipAnalyzers
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_ugoo2scx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_ugoo2scx_wpftmp.assets.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_ugoo2scx_wpftmp.AssemblyInfoInputs.cache
#/comPort_wpf/obj/Debug/net7.0-windows/MainWindow.g.cs
#/comPort_wpf/obj/Debug/net7.0-windows/MainWindow.g.i.cs
#/comPort_wpf/App.config
/comPort_wpf/bin
#/comPort_wpf/bin/Debug/net7.0-windows/comPort_wpf.dll.config
#/comPort_wpf/bin/Debug/net7.0-windows/comPort_wpf.dll
/.vs/comPort_wpf/DesignTimeBuild/.dtbcache.v2
/.vs/comPort_wpf/FileContentIndex/38c0a210-99cc-4e8d-a8d4-d91961d901e4.vsidx
/.vs/comPort_wpf/FileContentIndex
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_MarkupCompile.i.cache
#/comPort_wpf/obj/Debug/net7.0-windows/comPort_wpf_MarkupCompile.i.lref
#/comPort_wpf/obj/Debug/net7.0-windows/settings.g.i.cs
