<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="comPort_wpf.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>					 
		<add key="Port"    value="COM7"  />
		<add key="BoudRate"     value="115200"  />
		<add key="Parity"    value="0"  />
		<add key="Data"    value="8"  />
		<add key="Stop"    value="1"  />
		<add key="X"     value="200"  />
		<add key="Y"     value="300"  />
	</appSettings>
 <applicationSettings>
  <comPort_wpf.Settings1>
   <setting name="Параметр" serializeAs="String">
    <value>wert</value>
   </setting>
   <setting name="Параметр1" serializeAs="String">
    <value>sdf</value>
   </setting>
   <setting name="Параметр2" serializeAs="String">
    <value>xff</value>
   </setting>
   <setting name="Параметр3" serializeAs="String">
    <value>xcv</value>
   </setting>
   <setting name="Параметр4" serializeAs="String">
    <value>se</value>
   </setting>
   <setting name="Параметр5" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Параметр6" serializeAs="String">
    <value>234</value>
   </setting>
  </comPort_wpf.Settings1>
 </applicationSettings>
</configuration>
