<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="comPort_wpf.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <comPort_wpf.Settings1>
            <setting name="HeightMainWindow" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="WidthMainWindow" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="TopComPortSet" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LeftComPortSet" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="TopMainWindow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LeftMainWindow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ComSearchWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Panel_Signals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Panel_Clock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Panel_ToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sent_Messages_Panel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Received_Messages_Panel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="widthCountTX1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="widthTimeTX1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="widthASCIITX1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="widthHexTX1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="widthCountRX1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="widthTimeRX1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="widthASCIIRX1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="widthHexRX1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="portName" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="BoudRate" serializeAs="String">
                <value>115201</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>one</value>
            </setting>
        </comPort_wpf.Settings1>
    </userSettings>
</configuration>