<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>					 
		<add key = "Port"		value = "COM6"/>
		<add key = "BoudRate"   value = "115200"/>
		<add key = "Parity"		value = "0"/>
		<add key = "Data"		value = "8"/>
		<add key = "Stop"		value = "1"/>
		<add key = "X"			value = "200"/>
		<add key = "Y"			value = "300"/>
	</appSettings>
</configuration>
